/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * Variables
 */
/**
 * modules/mixins
*/
/**
 * Font-faces
*/
/* Poppins */
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-style: 600;
  font-weight: normal;
}

/* Raleway */
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-style: 600;
  font-weight: normal;
}

/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="number"] {
  font-size: inherit;
  line-height: inherit;
}

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.reset-box {
  padding: 0;
  margin: 0;
}

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/**
 * modules/mediaqueries
 * ---
 */
/**
 * Media Queries
 */
/**
 * modules/animations
 * ---
 */
/**
 * Adnimations
 */
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-150px) scale(0.5);
            transform: translateY(-150px) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-150px) scale(0.5);
            transform: translateY(-150px) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

.sidebar h1.title {
  margin-bottom: 0;
}

.sidebar h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #213f8f;
  margin: 20px 0;
}

.sidebar .sidebar-widget > div {
  margin-bottom: 50px;
}

.sidebar .fr_widget {
  padding: 5px 25px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
}

.sidebar form {
  font-family: "PoppinsRegular", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar form #amount {
  margin: 0 0 20px 0;
  position: relative;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 200;
  border: 2px solid transparent;
  font-size: 30px;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #000000;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar form #amount:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  border: 2px solid #213f8f;
}

.sidebar form .currencies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .sidebar form .currencies {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 480px) {
  .sidebar form .currencies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar form .currencies .selectbox {
  margin: 0;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.sidebar form .currencies .selectbox .select {
  background: #ffffff;
  width: 100%;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
  padding: 0;
  position: relative;
  z-index: 200;
  border: 2px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media screen and (max-width: 767px) {
  .sidebar form .currencies .selectbox .select {
    padding: 10px 0;
  }
}

@media screen and (max-width: 480px) {
  .sidebar form .currencies .selectbox .select {
    padding: 0;
  }
}

.sidebar form .currencies .selectbox .select.active {
  padding-left: 0;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  border: 2px solid #213f8f;
}

.sidebar form .currencies .selectbox .select.active .content-option:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 15px solid #213f8f;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
}

.sidebar form .currencies .selectbox .select:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  border: 2px solid #213f8f;
}

.sidebar form .currencies .selectbox .select i {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  color: #213f8f;
}

.sidebar form .currencies .selectbox .select .content-option:hover {
  background: none;
}

.sidebar form .currencies .selectbox .select .content-option:hover .title {
  color: #000000;
}

.sidebar form .currencies .selectbox .select .content-option:hover .description {
  color: #000000;
}

.sidebar form .currencies .options {
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  max-height: 400px;
  overflow: auto;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 202;
  margin-top: 30px;
}

.sidebar form .currencies .options.active {
  display: block;
  -webkit-animation: fadeIn 0.3s forwards;
  animation: fadeIn 0.3s forwards;
}

.sidebar form .currencies .switch {
  margin: 15px 10px;
  position: relative;
  min-width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #cccccc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.sidebar form .currencies .switch:hover {
  color: #434343;
  cursor: pointer;
}

.sidebar form .currencies .content-option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 10px 20px;
}

.sidebar form .currencies .content-option .title {
  color: #000;
  font-family: "PoppinsSemiBold", sans-serif;
  font-size: 30px;
  line-height: 26px;
}

@media screen and (max-width: 767px) {
  .sidebar form .currencies .content-option .title {
    font-size: 26px;
    line-height: 22px;
  }
}

.sidebar form .currencies .content-option .description {
  font-size: 14px;
  color: #434343;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .sidebar form .currencies .content-option .description {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .sidebar form .currencies .content-option .description {
    display: block;
  }
}

.sidebar form .currencies .content-option img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sidebar form .currencies .content-option:hover {
  background: #213f8f;
}

.sidebar form .currencies .content-option:hover .title {
  color: #ffffff;
}

.sidebar form .currencies .content-option:hover .description {
  color: #ffffff;
}

.result {
  margin: 30px 0;
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  opacity: 0;
  font-family: "PoppinsRegular", sans-serif;
}

.result > div {
  margin: 0 5px;
  display: inline-block;
}

.result > div:nth-child(3) {
  display: none;
  margin: 20px 0 10px 0;
}

.result #valueTo {
  font-family: "PoppinsSemiBold", sans-serif;
  font-size: 80px;
  line-height: 90px;
  word-break: break-word;
}

@media screen and (max-width: 767px) {
  .result #valueTo {
    font-size: 60px;
    line-height: 70px;
  }
}

.rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "PoppinsSemiBold", sans-serif;
  margin-bottom: 5px;
  opacity: 0;
}

.rates > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px;
}

.rates > div .currencyTo {
  font-size: 16px;
}

/* Widgets */
.widget-text .base {
  text-align: center;
}

.widget-text .base h2 {
  font-family: "PoppinsSemiBold", sans-serif;
  font-size: 26px;
  margin: 20px 0;
}

.widget-text .base img {
  max-width: 120px;
}

.widget-text .rates-list {
  text-align: center;
}

.widget-text .rates-list > div {
  margin: 0 0 11px 0;
}

.widget-text .rates-list .text h4 {
  font-size: 20px;
  font-family: "PoppinsSemiBold", sans-serif;
}

.current_rates {
  width: 100%;
  padding-top: 40px;
  margin-top: 50px;
  border-top: 1px solid #eeeeee;
}

.current_rates h3 {
  text-transform: uppercase;
  color: #999999;
}

.current_rates .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.current_rates .flex h2,
.current_rates .flex h3,
.current_rates .flex h4,
.current_rates .flex p {
  margin: 0;
  line-height: 1em;
}

.current_rates .flex h4 {
  font-size: 16px;
  margin-right: 10px;
}

.current_rates .flex > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.current_rates .flex > div .text .value {
  line-height: 1.75em;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: translateY(-150px) scale(0.5);
            transform: translateY(-150px) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes fade-in {
  0% {
    -webkit-transform: translateY(-150px) scale(0.5);
            transform: translateY(-150px) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
/*# sourceMappingURL=style.css.map */